:root{
    /* font */
    --font-secondary: 'Mulish', sans-serif;
    --font-primary: Pacaembu, sans-serif;
    --font-style1: 'Signika Negative', sans-serif;
    --font-style2: 'Space Grotesk', sans-serif;

    --radius: 5px;

    --color-primary: #2250f4;
    --color-primary-dark: #1728d0;
    --color-gray-L800: #151a1e;
    --color-gray-L700: #33373b;
    --color-gray-L600: #676c70;
    --color-gray-L500: #80858a;
    --color-gray-L400: #a3a7ac;
    --color-gray-L300: #e7eaed;
    --color-gray-L200: #f2f5f8;
    --color-gray-L100: #fafbfb;
    --color-gray-L000: #ffffff;

    --color-teal-T900: #054861;
    --color-teal-T800: #0f6a80;
    --color-teal-T700: #139cab;
    --color-teal-T600: #30c8c9;
    --color-teal-T500: #5cebdf;
    --color-teal-T400: #84f3df;
    --color-teal-T300: #9ef9e0;
    --color-teal-T200: #bffde7;
    --color-teal-T100: #dffef0;
    --color-teal-T050: #f2fef5;

    --my-color-one: #eceef0;
    --my-color-two: #ad67c8;
    --my-color-three: #e6e8ea;
    --my-color-four: #5e8782;
    --my-color-five: #aaabb1;
    --my-color-six: #212327;
    --my-color-seven: #1b1d1e;
    --my-color-eight: #55575b;
    --my-color-nine: #414649;


    --green-1: #009688;
    --green-2: #016262;
    --green-3: #005271;
    --green-4: #00c4cc;
    --green-light: #e6f8e9;

    --blue-1: #7ecfff;
    --blue-2: #455df4;
    --blue-3: #3f89ee;
    --blue-4: #4e5e6e;
    --blue-5: #103c82;
    --blue-light: #f0f5fd;

    --purple-1: #9c27b0;
    --purple-light: #e7e0fc;

    --gray-1: #2C2C2C;
    --gray-2: #191919;
    --gray-3: #050505;
    --gray-4: #EFEFEF;
    --gray-5: #e1e4e9;

    --orange-1: #FFA500;
    --orange-2: #fbbe28;
    --orange-3: #ff9800;
    --orange-light: #fdf3e6;

    --pink-1: #f84856;

}
a {
    cursor: pointer;
}
.window-title{
    font-weight: bold;
    font-size: 20px;
}

.dashboard-button{
    background-color: #f8f9f9;
    font-weight: bold;
    box-shadow: 1px 0 4px 1px rgba(0, 0, 0, .05);
    height: 110px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .5em;
    text-decoration: none;
    transition: 500ms;
    text-align: center;
    box-sizing: border-box;
    padding: 1.2em;
}
.dashboard-button img {
    width: 60px;
    height: 60px;
}
.dashboard-button span {
    font-size: .82rem;
    white-space: nowrap;
    color: black;
    font-weight: 700;
}
.dashboard-button:hover {
    background-color: #f8f8ff;
    text-decoration: underline;
    cursor: pointer;
}
.search-box{
    padding: 10px 10px 10px 35px;
    min-width: 300px;
    background-image: url("../assets/search.png");
    color: #666666;
    font-size: 12px;
    border: 1px solid #c9c9c9;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
    border-radius: 300px 0 0 300px;
}
.search-box:focus {
    outline: none;
    border: 1px solid #65607d;
}
.btn-add{
    background-color: var(--green-1);
    border: none;
    color:  white;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}
.btn-add img {
    width: 25px;
}
.btn-add span {
    color: white;
}

.title-small{
    font-size: 15px;
    font-weight: bold;
    color: #5b6064;
}
.count {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.count-label {
    font-weight: 500;
    color: #6d6d6d;
    font-size: 14px;
}
.count-value {
    color: #6d6d6d;
    font-size: 14px;
}
.btn-cancel {
    background-color: var(--orange-1);
    color: white;
    transition: 500ms;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    padding: 0 1em;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
}
.btn-cancel:hover {
    background-color: var(--orange-3);
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex: 1;
}
.btn-delete{
    background-color: #d44d3b;
    border: 2px solid #d44d3b;
    cursor: pointer;
    transition: 300ms;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
}
.btn-delete span {
    color: #ffffff;
}
.btn-delete:hover {
    background-color: white;
    color: #d44d3b;
    border: 2px solid #d44d3b;
}
.btn-delete span:hover {
    color: #d44d3b;
}
.btn-create {
    color: #1443ee;
    background-color: white;
    border: 1px solid #e9eaed;
    border-radius: 4px;
    padding: 5px 10px;
    transition: 300ms;
    font-weight: 700;
    font-family: var(--font-secondary);
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    gap: .2em;
    align-items: center;
}
.btn-create img {
    width: 15px;
    height: 15px;
}
.btn-create:hover {
    background-color: #1443ee;
    color: white;
    border: 1px solid #1443ee;
}

.required {
    color: #FF5733;
}


button .hidden {
    display: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bar {
    width: 6px;
    height: 20px;
    margin: 0 4px;
    background: #ff7f0e;
    animation: loading 1s ease-in-out infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.1s;
}

.bar:nth-child(3) {
    animation-delay: 0.2s;
}

.bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading {
    0% {
        transform: scaleY(0.4);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.4);
    }
}

.disabledSubmit {
    background-color: #828f8e;
    cursor: not-allowed;
}

.required-input {
    color: #313131;
    font-size: .9rem;
    font-style: italic;
}

.required {
    color: #FF5733;
}















.facility-wrapper {
    display: flex;
    flex-direction: column;
}

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9eaed;
    padding: .8em 1em;
    background-color: #fff;
    align-items: center;
}

.filter-wrapper .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.filter-wrapper .left a {
    display: flex;
    align-items: center;
}

.filter-wrapper img {
    height: 16px;
    width: 16px;
}

.content-wrapper .filter-wrapper .left .title {
    font-weight: 700;
    color: #0F1233;
    font-family: var(--font-primary);
    font-size: .97rem;
    letter-spacing: 1px;
}

.filter-wrapper .filter {
    display: flex;
    gap: 1em;
}

select::-ms-expand {
    display: none;
}

/* Style the select arrow */
select {
    appearance: none;
    background: url("../assets/down-filled-triangular-arrow.png") no-repeat right;
    background-size: 12px;
    background-position-x: 98%;
    padding: .5em .8em;
    border-radius: 3px;
    -webkit-appearance: none;
    font-size: .8rem;
    letter-spacing: 1px;
    border: 1px solid #0F1233;
    outline: none;
    min-width: 150px;
}

select:focus {
    border: 1px solid #5b6064;
}

select option {
    color: #0F1233;
    background-color: #fff;
    font-size: .8rem;
    padding: 1em .8em;
    height: 2em;
    line-height: 1em;
}

select option:checked {
    background-color: #EBF1F6;
}

.filter-wrapper .filter input {
    width: 140px;
    padding: .5em .8em;
    border-radius: 5px;
    font-size: .8rem;
    letter-spacing: 1px;
    border: 1px solid #0F1233;
    display: none;
}

.filter-wrapper .filter select {
    min-width: 150px;
}

.filter-wrapper .filter input:focus {
    border: 1px solid #5b6064;
}

.filter-wrapper .right, .filter-wrapper .right .right-button-wrapper-actual {
    display: flex;
    gap: 1em;
    align-items: center;
}

.filter-wrapper .right div.right-button-wrapper {
    display: none;
}

.filter-wrapper .right {
    display: flex;
    gap: 1em;
    align-items: center;
}


.filter-wrapper .right img {
    height: 15px;
    width: 15px;
}

.here {
    display: none;
    gap: 2px;
    cursor: pointer;
    height: 20px;
    align-items: center;
}

.here div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    transition: 300ms;
}

.filter-wrapper .right a {
    color: #1443EE;
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
    border: 1px solid #e9eaed;
    padding: .3em 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-wrapper .right button {
    color: #0F1233;
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
    border: 1px solid #e9eaed;
    padding: .4em 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.facility-wrapper .main-content {
    display: flex;
    min-height: 90vh;
}

.facility-wrapper .side-nav,
.facility-wrapper .main-window-side-nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-right: 1px solid #e9eaed;
    position: sticky;
    top: 6vh;
}

.facility-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    box-sizing: border-box;
    background-color: #F9FBFC;
    padding-bottom: 1em;
}

.facility-wrapper .content-wrapper .top {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
}

.facility-wrapper .content-wrapper .copy {
    padding: 2em;
    text-align: center;
}

.facility-wrapper .content-wrapper .title {
    font-weight: 500;
    color: #0F1233;
    font-size: 1.3rem;
}

.facility-wrapper .content-wrapper .size {
    color: #5b6064;
    font-style: italic;
}

.facility-wrapper .content-wrapper .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 95%;
    padding: 0 2em;
}

.facility-wrapper .content-wrapper .list .facility {
    border: 1px solid #e9eaed;
    border-radius: 5px;
    padding: 1em;
    background-color: #fff;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    gap: .8em;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
}

.facility-wrapper .list .facility:hover {
    background-color: #f8ffff;
}

.facility-wrapper .list .facility .name {
    color: #0F1233;
    font-weight: bold;
    letter-spacing: 1px;
}

.facility-wrapper .list .facility .details {
    color: #5b6064;
    font-size: .9rem;
}

.facility-wrapper .list .facility .size {
    display: flex;
    gap: 5em;
    font-style: normal;
    color: #0F1233;
    flex-wrap: wrap;
}

.facility-wrapper .list .facility .size div {
    border: 1px dashed #5e8782;
    padding: .35em 1em;
    border-radius: 4px;
}

.facility-wrapper .list .facility .creation-details {
    font-family: monospace;
    font-style: italic;
    color: #5b6064;
}

.estimate-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.estimate-content .input-group {
    width: 50vw;
}
.estimate-content .input-group label {
    width: 40px;

}



.add-property {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.window-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    display: grid;
    gap: 15px;
}

.input-field {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;
}

.label {
    font-weight: bold;
}

textarea,
input,
checkbox {
    padding: 8px;
    box-sizing: border-box;
}

.button-wrapper {
    text-align: center;
    margin-top: 20px;
}

.submit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
}

.loader .bar {
    width: 8px;
    height: 25px;
    background-color: white;
    animation: loading 0.8s infinite alternate;
}

.loader.hidden {
    display: none;
}

@keyframes loading {
    0% {
        height: 25px;
    }
    100% {
        height: 10px;
    }
}

.other-links {
    margin-top: 20px;
}

.other-links a {
    text-decoration: none;
    color: #3498db;
}

.other-links a:hover {
    text-decoration: underline;
}

.add-property .form .input-field, .estimate-content .input-group {
    display: flex;
    flex-direction: row;
}
.add-property .form .input-field .label, .estimate-content .input-group label {
    flex: 2;
}
.add-property .form .input-field input,
.add-property .form .input-field textarea,
.estimate-content .input-group input,
.estimate-content .input-group textarea{
    flex: 4;
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #5b6064;
    margin-left: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}














.property-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.property-details-content {
    min-width: 50vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.property-details-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.property-details-content p {
    margin-bottom: 8px;
}

.creation-details {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-add,
.btn-delete,
.submit {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}


















.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.dashboard-tile {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 250px;
    text-align: center;
}

.dashboard-tile h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dashboard-tile p {
    font-size: 16px;
    margin-bottom: 15px;
}

.dashboard-tile:hover {
    background-color: #2980b9;
    transition: background-color 0.3s ease;
}

.image {
    max-width: 300px;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}










.property-list-container {
    margin: 20px;
}

.property-list-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
}

.property-item {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
}

.property-details {
    text-align: left;
}

.property-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.property-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.property-description {
    margin-bottom: 10px;
}

.property-location,
.property-info {
    margin-bottom: 5px;
}

.add-to-favorites {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.estimate-link {
    text-decoration: none;
    color: #27ae60;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
